<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <div>
        <th:block th:include="/_nav"></th:block>
    </div>

    <div class="alert alert-danger" role="alert" th:if="${error != null && error != ''}">
        Something went wrong!
    </div>

    <div th:if="${not #lists.isEmpty(products)}">
        <div class="px-3" >
            <h2>All Resume List</h2>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Author</th>
                <th>Name</th>
                <th>Job Title</th>
                <th colspan="4">Action</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.appUser.userName}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.jobTitle}"></td>
                <td><a th:href="${'/product/' + product.productId}">View</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="text-center">
            <a href="/product/new" class="btn btn-info" role="button">New Resume</a>
        </div>
    </div>
</div>

</body>
</html>