<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">

    <div>
        <th:block th:include="/_nav"></th:block>
    </div>

    <div>
        <span class="profile-pic-container">
            <div class="profile-pic">
              <img class="media-object img-circle center-block" data-src="holder.js/100x100" alt="Richard Hendriks"
                   src="https://s.gravatar.com/avatar/7e6be1e623fb85adde3462fa8587caf2?s=100&amp;r=pg&amp;d=mm"
                   itemprop="image"/>
            </div>
            <div class="name-and-profession">
              <h3><span th:utext="${#request.userPrincipal.name}"></span></h3>
            </div>
        </span>
    </div>

    <div class="alert alert-danger" role="alert" th:if="${error != null && error != ''}">
        Something went wrong!
    </div>

    <div class="row" th:if="${#lists.isEmpty(products)}">
        <p>You don't have any resume. Let make new one to start!</p>
    </div>
    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Your Resume List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Job Title</th>
                <th>Top</th>
                <th colspan="4">Action</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.jobTitle}"></td>
                <td >
                    <a href="#" th:if="${product.enabled}">
                        <i class="fas fa-star"></i>
                    </a>
                </td>
                <td><a th:href="${'/product/' + product.productId}">View</a></td>
                <td><a th:href="${'/product/edit/' + product.productId}">Edit</a></td>
                <td><a th:if="${not product.enabled}" th:href="${'/product/set_enabled/' + product.productId}">Enable Top</a></td>
                <td><a th:href="${'/product/delete/' + product.productId}">Delete</a></td>
            
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="text-center">
            <a href="/product/new" class="btn btn-info" role="button">New Resume</a>
        </div>
    </div>
</div>

</body>
</html>