<nav class="navbar navbar-inverse" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Json Resume</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a th:if="${#request.userPrincipal == null}" href="/registration/">Sign up</a>
            </li>
            <li>
                <a th:if="${#request.userPrincipal == null}" href="/login">Sign in</a>
            </li>
            <li>
                <a href="/products/all">Themes</a>
            </li>
            <li>
                <a href="/product/new/">Create Resume</a>
            </li>
            <li>
                <a href="/products/user" th:if="${#request?.userPrincipal?.name != '' && #request?.userPrincipal?.name != null}" th:text="${#request?.userPrincipal?.name}"></a>
            </li>
            <li>
                <a href="/logout" th:if="${#request?.userPrincipal?.name != '' && #request?.userPrincipal?.name != null}" >Log out</a>
            </li>
        </ul>
    </div>
</nav>